@media (max-width: 600px) {
  /* below 800px  */

  .toggle-button{
    display: flex;
  }
    .navbar-links {
      display: none;
    }
    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
    .navbar-links li {
      text-align: center;
    }
    .navbar-links li a{
      padding: .5rem 1rem;
    }
    .columnA, .columnB, .columnC {
      padding: 15px;
      width: 220px;
      text-align:justify;
      margin: 20px;
      color: gray;
      position: relative;
  }
  .box1{
    width: 200px;
    height: 200px;
    background:grey;
  }
  .box2{
    width: 200px;
    height: 200px;
    background:grey;
  }
  .box3{
    width: 200px;
    height: 200px;
    background: grey;
  }