@media (max-width: 800px) {
    .navlinks {
      position: fixed;
      width: 100%;
      height: 100vh;
      text-align: center;
      transition: all 0.5s;
      right: -100%;
      background: white;
    }
    .navlinks li {
      display: block;
    }
    .navlinks li a {
      font-size: 20px;
    }
    .navlinks li a:hover {
      border-bottom: none;
    }
    .menu-btn {
      display: block;
    }
    #check:checked ~ .navlinks {
      right: 0;
    }
  }
  @media (max-width: 360px) {
    .logo {
      margin-left: 10px;
      font-size: 25px;
    }
    .menu-btn {
      margin-right: 10px;
      font-size: 25px;
    }
    .menu-btn:focus {
      color: blue;
    }
  }
    @media (max-width: 858px){
      .checkbtn{
        display: block;
      }
      ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
      }
      nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
      }
      nav ul li a{
        font-size: 20px;
      }
      a:hover,a.active{
        background: none;
        color: #0082e6;
      }
      #check:checked ~ ul{
        left: 0;
      }
    }
    section{
      background: url(bg1.jpg) no-repeat;
      background-size: cover;
      height: calc(100vh - 80px);
    }
  @media (max-width: 952px){
      label.logo{
          font-size: 30px;
          padding-left: 50px;
      }
      nav ul li a{
          font-size: 16px;
      }
  }
  @media (max-width: 858px){
      checkbtn{
          display: block;
      }
      ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          background: whitesmoke;
          top: 80px;
          left: 0;
          text-align: center;
      }
      nav ul li{
          display: block;
      }
      nav ul li a{
          font-size: 20px;
      }
      a:hover,a.active{
          background: none;
          color: honeydew;
      }
  }

  /* Media query to set website layout
according to screen size */
@media screen and (max-width:600px) {
    .columnA, .columnB, .columnC {
        width: 50%;
    }
}
@media screen and (max-width:400px) {
    .columnA, .columnB, .columnC {
        width: 100%;
    }
}