@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}
header {
  background-color: gray;
}
.main-nav {
  height: 90px;
}
.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}
.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}
.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}
.navlinks li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}
.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}
li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}
li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}
#check {
  display: none;
}
.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

.columnA, .columnB, .columnC {
    float: left;
    width: 28%;
    padding: 15px;
    text-align:justify;
    padding-top: 250px;
    margin: 0 1.5% 24px 1.5%;
    height: 200px;
    color: gray;
    position: relative;
}
h2 {
    color: black;
    text-align:center;
}
 

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: gray;
    color: white;
    text-align: center;
}
.footer p{
    font-size: 18px;
    margin-top: 20px;;
}
